/* --------------------------
  Keyframes
--------------------------- */

@keyframes grow {
    30% {
      stroke: #FFFF00;
      transform: scale(1.5) rotate(15deg);
    }
    60% {
      transform: scale(0.5) rotate(-15deg);
    }
  }

.svg-head-bell * {
transform-origin: center;
transform-box: fill-box; /* gotta do this (seen on comments) so it behaves as expected on chrome */ 
}

.fancyMov:hover {
  cursor: pointer;
  animation: grow 1s ease-out backwards;
}