// GRID
@use 'abstracts' as *;

@media (min-width: 768px) {
    // .grid {
    //     display: grid;
    //     grid-template-columns: 90px minmax(200px, auto);
    //     grid-auto-rows: 100px minmax(50px, auto);
    //     grid-template-areas:
    //         "header header"
    //         "nav main"
    //         "nav aside"
    //         "nav footer";
    // }

    header {
        @include flexing(
            $dire: row,
            $wrap: wrap,
            $alignCont: center);
        padding: 14px 0px;
        background-color: $primary-color;
    }
    
    header p {
        color: white;
        margin: auto 9px;
    }

    h1 {
        margin: auto auto auto 15px;
        color: white;
    }

    .svg-head-bell {
        margin: auto 10px;
        width: 5%;
        fill: white;
    }

    .header-image {
        width: 82%;
        border-radius: 50%;
      }   
      
}