@use 'abstracts' as *;

.chart {
    position: relative;
    &-div {
        width: 282px;
        height: 141px;
        flex-basis: 100%;
        border-radius: 20px;
        background: white;
        padding-top: 10px;
        @include mq('chart') {
            height: 50vh;
        }
        @include mq('m') {
            flex-basis: 100%;
            height: 70vh;
        }
    }

}