.chart {
    position: relative;
    &-div {
        width: 282px;
        height: 141px;
        flex-basis: 100%;
        border-radius: 20px;
        background: white;
        padding-top: 10px;
        &-donut {
            padding-bottom: 10px;
        }
        &-line {
            @include mq('m') {
                height: 40vw!important;
            }
            @include mq('l') {
                height: 35vw!important;
            }
        }
        @include mq('chart') {
            height: 30vw;
        }
        @include mq('m') {
            flex-basis: 100%;
            height: 25vw;
        }
        @include mq('l') {
            height: 23vw;
            margin-bottom: 2vw;
        }
    }

}