.new-members-images {
  width: 4em;
  border-radius: 50%;
  @include mq('m') {
    width: 85px;
  }
}

// SVG manipulation

.svg-head-bell {
  @include flexing(
    $basis: 7%);
  margin: auto 8px 5px auto;;
  svg {
    width:1.9em;
  }
  path {
    fill: white;
  }
  ellipse {
    fill: rgb(16, 189, 16);
    display:block;
  }
  @include mq('m') {
    margin: 0 15px 10px;
    align-self: flex-end;
    flex-basis: 5%;
    svg {
      width:3.2em;
    }
  }
  @include mq('l') {
    margin: auto 10px 5px 0;
    flex-basis: 2.1%;
    svg {
      width:2.3em;
    }
  }
}
  
.svg-head-student-image {
  margin-right: 1px;
  width: 12%;
  border-left: 1px solid rgba(255, 255, 255, 0.486);
  padding-left: 7px;
  @include mq('m') {
    @include flexing(
      $justCont: center);
    margin-right: 0px;
  }
  @include mq('l') {
    width: 6em;
    height: 3.5em;
    padding-left: 0;
  }
}

.header-image {
  width: 100%;
  border-radius: 50%;
  @include mq('m') {
    flex-basis: 84%;
    width: 50%;
  }
  @include mq('l') {
    flex-basis: 50%;
    width: auto;
  }
}

.svg-nav-icons {
  width: 11%;
  margin: 9px 14px 5px;
  & > a {
    fill: white;
  }
  @include mq('m') {
    width: 52%;
    margin: 25px 0 0;
  }
}

.svg-social-icons {
  @include flexing(
    $basis: 12%) {
    order: -1};
    margin: auto 0 auto 5vw;
    padding: 13px;
    background-color: rgba(76, 71, 175, 0.776);
    border-radius: 50%;
  
}

.traffic-graphic {
  @include flexing(
    $alignItem: center, 
    $justCont: center);
  height: 150px;
}