@use 'abstracts' as *;

// Basic elements

body {
    margin: 0;
  }
    
h1 {
  margin: auto auto auto 11px;
  color: white;
  @include mq('m') {
      margin: auto auto auto 15px;
  }
}
  
main h2,
aside h2 {
    margin: 15px 0;
}

h3 {
  margin: 8px;
  @include mq('m') {
    margin: 11px;
  }
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}