@use 'abstracts' as *;

// Basic elements

body {
    margin: 0;
  }
    
h1 {
  margin: auto auto auto 11px;
  color: white;
  @include mq('m') {
      margin: auto auto auto 15px;
  }
}
  
main h2,
aside h2 {
    margin: 15px 0;
}

h3 {
    margin: 14px;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

#no-border {
  border-top: none;
  padding-top: 10px;
}

#border-bottom {
  padding-bottom: 0px;
  @include mq('m') {
    padding-bottom: inherit;
  }
}