@use 'abstracts' as *;

body {
    font: 1em "Open Sans", sans-serif;
}

h1 {
    font: 1.1em "Open Sans", sans-serif; 
    @include mq('m') {
        font-size: 1.8em;
    }
}

h2 {
    font: bold 1em "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include mq('m') {
        font-size: 1.2em;
    }
}

h3 {
    font: bold 1em "Open Sans", sans-serif;
    @include mq('m') {
        font-size: 1.3em;
    }
}

.message-label {
    font: bold 1em "Open Sans", sans-serif;
  }

.btn-message {
    font: 400 120%/1.5 "Open Sans", sans-serif;
    text-transform: uppercase;
}

.btn-settings {
    font: 400 100%/1.5 "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.flexing-members a {
    font-style: normal;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
  
.flexing-members p {
    text-align: center;
    font-size: .9em;
    @include mq('m') {
        text-align: inherit;
    }
}

.settings label {
    font: 400 100%/1 "Open Sans", sans-serif;
}

.flexing-socials {
    &-title {
        font: bold 1.1em "Open Sans", sans-serif;
    }
    &-numbers {
        margin: 0px;
        font-size: 2.2em;
        font-weight: 400;
    }
}

.traffic button {
    font: 1em "Open Sans", sans-serif;
    @include mq('m') {
        font-size: 1.3em;
    }
  }

header p {
    font-size: .8em;
    @include mq('m') {
        font-size: 1.1em;
    }
}

.time-zone {
    font-size: 100%;
    letter-spacing: 1px;
}

select:required:invalid {
    font-size: 100%;
    letter-spacing: 1px;
}