body {
    font: 1em "Open Sans", sans-serif;
}

h1 {
    font: 1.1em "Open Sans", sans-serif; 
    @include mq('m') {
        font-size: 1.8em;
    }
}

h2 {
    font: bold 1em "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include mq('m') {
        font-size: .8em;
    }
}

h3 {
    font: bold 1em "Open Sans", sans-serif;
    @include mq('m') {
        font-size: 1.2em;
    }
    @include mq('l') {
        font-size: 1.1em;
    }
}

.message-label {
    font: bold 1em "Open Sans", sans-serif;
  }

.message-search,
.textarea {
    @include mq('l') {
        font-size: 1.1em;
    }
}

.btn-message {
    font: 400 120%/1.5 "Open Sans", sans-serif;
    text-transform: uppercase;
}

.btn-settings {
    font: 400 100%/1.5 "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.flexing-members a {
    font-style: normal;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
  
.flexing-members p {
    text-align: center;
    font-size: .9em;
    @include mq('m') {
        text-align: inherit;
    }
}

.settings label {
    font: 400 94%/1 "Open Sans", sans-serif;
    @include mq ('l') {
        font-size: 100%;
      }
}

.flexing-socials {
    &-title {
        font: bold 1.1em "Open Sans", sans-serif;
        font-size: 1.3em;
        @include mq('m') {
            font-size: 1em;
        }
    }
    &-numbers {
        font-size: 3.2em;
        font-weight: 400;
        @include mq('m') {
            font-size: 2.4em;
        }
    }
}

#notif-alert {
    font-size: .9em;
  }

.traffic button {
    font: 1em "Open Sans", sans-serif;
    @include mq('m') {
        font-size: 1.3em;
    }
    @include mq('l') {
        font-size: 1em;
      }
  }

header p {
    font-size: .8em;
    @include mq('m') {
        font-size: 1.1em;
    }
}

.time-zone {
    font-size: 95%;
}

select:required:invalid {
    font-size: 100%;
}

.checkboxes {
    label {
        font-size: .9em;
    }
    .switch {
        font-size: .9em;
    }
}