/* --------------------------
  Keyframes
--------------------------- */

@keyframes grow {
    30% {
      stroke: #FFFF00;
      transform: scale(1.5) rotate(15deg);
    }
    60% {
      transform: scale(0.5) rotate(-15deg);
    }
  }

.svg-head-bell * {
transform-origin: center;
transform-box: fill-box; /* gotta do this (seen on comments) so it behaves as expected on chrome */ 
}

.fancyMov:hover {
  cursor: pointer;
  animation: grow 1s ease-out backwards;
}

// error / success message animation

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
}
@keyframes opaci {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.textarea {
  transform-origin: center;
  transform-box: fill-box;
  &-errormsg {
    &-animation {
      animation: slideDown .8s linear forwards;
    }
  }
  &-errorreadme {
    animation: slideDown .8s linear forwards,
               opaci .5s linear forwards;
  }
}