.btn-message {
    flex-basis: 100%;
    padding: 10px 0;
    // margin-top: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.918);
    background-color: rgba(76, 71, 175, 0.68);
    outline: none;
    border: none;
    border-radius: 5px;
    @include mq('m') {
        height: 55px;
    }
    @include mq('l') {
        flex-basis: 20%;
    }
}

.btn-settings {
    margin: 10px 0px;
    cursor: pointer;
    height: 3em;
    flex-basis: 45%;
    color: rgba(255, 255, 255, 0.918);
    background-color: $primary-color;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.34);
    border-radius: 5px;
    @include mq('l') {
        margin: auto 0 0;
        flex-basis: 47%;
        background-color: rgba(76, 71, 175, 0.68);
        border: none;
        border-radius: 5px;
        height: 3.6em;
    }
}

.buttonsDiv {
    @include flexing(
        $justCont: space-between);
    flex: 1;
    @include mq('l') {
        width: 100%;
    }
}

#cancel-button-color {
    background-color: rgba(132, 124, 124, 0.752);
    @include mq('m') {
        margin-left: auto;
    }
    @include mq('l') {
        margin-right: 0;
    }
}

.traffic button {
    @include flexing(
      $basis: 25%,
      $justCont: center,
      $alignItem: center);
    height: 2em;
    padding: 0;
    border: none;
    background-color: white;
    outline: none;
    &:hover {
        background-color: #46bc466e;
        color: white;
        border-radius: 20px;
    }
    &:focus,
    &:active,
    &:target {
        background-color: #46bc46af;
        color: white;
        border-radius: 20px;
    }
    @include mq('m') {
        flex-grow: 1;
        flex-basis: 0;
        padding: 10px;
    }
    @include mq('l') {
        flex-grow: 0;
        flex-basis: 5%;
        font-size: 1em;
        & + button {
            margin-left: 5px;
        }
    }
}


// SWITCH CHECKBOX

.checkboxes {
    @include flexing(
      $alignItem: center,
      $justCont: space-between);
    flex: 1;
    @include mq('m') {
        margin: 3vw 0;
    }
    @include mq('l') {
        width: 100%;
        margin: 1.5vw 0;
    }
  }

.switch {
    position: relative;
    width: 95px;
    height: 40px;
    border-radius: 25px;
    @include mq('m') {
        margin-left: auto;
        margin-right: 45vw;
    }
    @include mq('l') {
        margin-left: auto;
        margin-right: 12vw;
    }
    &::after {
        z-index: 1;
        position: absolute;
        top: 47%;
        left: 78%;
        transform: translate(-50%, -50%);
        color: white;
        content: 'OFF';
        pointer-events: none;
    }
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 95px;
    height: 40px;
    border: 2px solid rgba(224, 219, 219, 0.829);
    border-radius: 25px;
    background-color: #ccc;
    transition: background .3s;
    outline: none;
    cursor: pointer;
    margin:0;
    &::after,
    &::before {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
    }
    &::before {
        content: 'ON';
        color: white;
        left: 16px;
    }
    &::after {
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        background-color: white;
        border: 2px solid rgba(224, 219, 219, 0.829);
        transition: left .4s;
        content: '';
    }
    &:checked {
        background-color: rgba(76, 71, 175, 0.776);
        
    }
    &:checked::after {
        left: 80%;
    }
}